Win32
Win64
__history
ModelSupport_*
*.dof
*.dcu
*.~symbol
*.identcache
*.local
*.DS_Store
*[Tt]humbs.db
*.exe
*.~pas
*.~dfm
*.stat
*.bin
*.cbk
*.cpt
*.cpp
*.ddp
*.del
*.~dpr
*.map
*.rsm
*.otares
*.vlb
*.drc
*.skincfg
